<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    <title>Here we go again</title>
</head>
<body class="error">

    <main class="error-wrapper">
        {{{ body }}}
    </main>
    <br>
    <a href="/">Return to home</a>
</body>
</html>