<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather&display=swap" rel="stylesheet">

    <title>My Favorite Things</title>
</head>

<body>
    <header>
        <h1>My Favorite Things</h1>
        <h2>Click on image for more info</h2>
        {{!-- <nav>
            <ul>
                <li><a href="#">Un</a></li>
                <li><a href="#">Deux</a></li>
                <li><a href="#">Troix</a></li>
            </ul>
        </nav> --}}
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
    </footer>
    
</body>
<script type="module" src="js/main.js"></script>
</html>