.lightbox { 
    display: none;
    flex-direction: row;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.9);

    .sidebar {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .lb-content {
        width: 50%;
        font-family: 'Inconsolata', monospace;
        color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 80px;

        h2{
            font-family: 'Merriweather', serif;
            font-size: 3em;
        }

        p{
            font-size: 1.5em;
            line-height: 1.5em;
        }
    }

    img { 
        width: 60%;
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        border: 10px solid white;
    }

    .close {   
        position: fixed; 
        right: 24px;
        top: 24px;
        font-family: 'Inconsolata', monospace;
        font-size: 2em;
        color: $main;
        border: 2px solid $main;
        padding: 0 10px 2px;
        cursor: pointer;
    }
}

.show-lb { display: flex !important; }

@media screen and (max-width: 768px){
    .lightbox{
        flex-direction: column;
        padding-top: 50px;

        .sidebar { width: 100%; }

        .lb-content{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding-right: 0px;
            padding-top: 30px;
            h2 { font-size: 2em; }
            p { font-size: 1em; line-height: 1em; }
        } 

        img { 
            width: 40%;
            transform: rotate(0);
            -webkit-transform: rotate(0);
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
        }
    }
}

@media screen and (max-width: 320px){
    .lightbox .lb-content{
        padding-right: 0px;
        h2 { font-size: 1em; }
        p { font-size: 0.8em; line-height: 1em; }
    }

    .lightbox img{
        width: 30%;
    }
}